<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>SpeakPaste Inline Dictation</string>
    <key>CFBundleExecutable</key>
    <string>SpeakPasteInputMethod</string>
    <key>CFBundleIdentifier</key>
    <string>com.pedro.SpeakPasteInputMethod</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>SpeakPasteInputMethod</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>ComponentInvisibleInSystemUI</key>
	<true/>
    <key>InputMethodConnectionName</key>
    <string>com.pedro.SpeakPasteInputMethod.connection</string>
    <key>InputMethodServerControllerClass</key>
    <string>SpeakPasteInputController</string>
    <key>InputMethodType</key>
    <string>palette</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>TISInputSourceID</key>
    <string>com.pedro.SpeakPasteInputMethod</string>
    <key>TISIntendedLanguage</key>
    <string>und</string>
    <key>tsInputMethodCharacterRepertoireKey</key>
    <array>
        <string>Latn</string>
    </array>
</dict>
</plist>
